body {
    height: 100vh;
    display: grid;
    place-items: center;

}

.container {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #d33526;
    display: grid;
    place-items: center;
}

.form {
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;

    transform: rotateX(-25deg);
    transition: all 1s ease-in-out;
}


.form:hover {
    transform: rotateX(25deg);

}

.slice {
    box-sizing: border-box;
    position: absolute;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #d33526;
    opacity: 1;
    transition: all 1s ease-in-out;
}

.slice-1 {
    width: 198px;
    height: 198px;
    left: 1px;
    top: 1px;
    transform: translateY(14.5px) rotateX(90deg);
    animation: slice-1 6s ease-in-out infinite;
}


.slice-10 {
    width: 198px;
    height: 198px;
    left: 1px;
    top: 1px;
    transform: translateY(-14.5px) rotateX(90deg);
    animation: slice-10 6s ease-in-out infinite;
}


.slice-19 {
    width: 198px;
    height: 198px;
    left: 1px;
    top: 1px;
    transform: rotateX(90deg);
    animation: slice-19 6s ease-in-out infinite;
}

@keyframes slice-1 {
    0%, 19% {
        transform: translateY(0) rotateX(90deg) ;
        opacity: 0;
    }
    20% {
        transform: translateY(0) rotateX(90deg) ;
        opacity: 1;
        border: 2px solid white;
    }
    30% {
        transform: translateY(18.5px) rotateX(90deg) ;
        border: 2px solid white;
    }
    35% {
        transform: translateY(12.5px) rotateX(90deg) ;
    }
    40% {
        transform: translateY(15.5px) rotateX(90deg) ;
    }
    40% {
        transform: translateY(14px) rotateX(90deg) ; 
    }
    50%, 65% {
        transform: translateY(14.5px) rotateX(90deg) ;
    }
    70% {
        transform: translateY(18.5px) rotateX(90deg) ;
        border: 2px solid white;
    }
    80% {
        transform: translateY(0) rotateX(90deg) ;
        opacity: 1;
        border: 2px solid white;
    }
    81%,100% {
        transform: translateY(0) rotateX(90deg) ;
        opacity: 0;
    }


}



@keyframes slice-10 {
    0%, 19% {
        transform: translateY(0) rotateX(90deg) ;
        opacity: 0;
    }
    20% {
        transform: translateY(0) rotateX(90deg) ;
        opacity: 1;
        border: 2px solid white;
    }
    30% {
        transform: translateY(-18.5px) rotateX(90deg) ;
        border: 2px solid white;
    }
    35% {
        transform: translateY(-12.5px) rotateX(90deg) ;
    }
    40% {
        transform: translateY(-15.5px) rotateX(90deg) ;
    }
    40% {
        transform: translateY(-14px) rotateX(90deg) ; 
    }
    50%, 65% {
        transform: translateY(-14.5px) rotateX(90deg) ;
    }
    70% {
        transform: translateY(-18.5px) rotateX(90deg) ;
        border: 2px solid white;
    }
    80% {
        transform: translateY(0) rotateX(90deg) ;
        opacity: 1;
        border: 2px solid white;
    }
    81%,100% {
        transform: translateY(0) rotateX(90deg) ;
        opacity: 0;
    }

}

@keyframes slice-19 {
    0% {
        transform: translateX(90deg) scale(0);
       
    }
    10% {
        transform: translateX(90deg) scale(1.2);
    }
    15% {
        transform: translateX(90deg) scale(0.9);
    }
    20%,75% {
        transform: rotateX(90deg) scale(1);
    }
    80% {
        transform: rotateX(90deg) scale(1.2);
    }
    90%,100% {
        transform: rotateX(90deg) scale(0);
    }


}